@import "../../../Assets/style/fonts";


    .icons-wrapper {
        height: 95px;
        width: 80px;
        text-align: center;
        padding: 10px 5px;
        margin-bottom: 15px;
        border: 1px solid #f1eff0;
        border-radius: 20px;
        color: #a3a1a1;
        background-color: white;
        cursor: pointer;

        .icons-style {
            font-size: x-large;
            margin-bottom: 5px;
        }
        .text-style {
            margin: 0px;
            font-weight: 500;
            font-size: small;
        }
    }
    .icons-wrapper:hover {
        background-color: #f6efef;
        border: 1px solid #704232;
        color: #704232;
    }

    .selective {
        height: 95px;
        width: 80px;
        text-align: center;
        padding: 10px 5px;
        margin-bottom: 15px;
        border-radius: 20px;
        background-color: #f6efef;
        border: 1px solid #704232;
        color: #704232;
        cursor: pointer;

        .icons-style {
            font-size: x-large;
            margin-bottom: 5px;
        }
        .text-style {
            margin: 0px;
            font-weight: 500;
            font-size: small;
        }
    }

